<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista kandydatów</title>
</head>
<body>
<h1>Lista kandydatów</h1>
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Umiejętności</th>
        <th>Edytuj</th>
        <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate : ${candidates}">
        <td th:text="${candidate.name}"></td>
        <td th:text="${candidate.surname}"></td>
        <td>
            <ul>
                <li th:each="skill : ${candidate.skills}">
                    <span th:text="${skill.name}"></span>
                    <span>(</span>
                    <span th:text="${skill.experience}"></span>
                    <span>)</span>
                </li>
            </ul>
        </td>
        <td>
            <a th:href="@{/candidates/{id}(id=${candidate.id})}">
                <input type="submit" value="Edytuj"/>
            </a>
        </td>
        <td>
            <form th:action="@{/candidates/{id}(id=${candidate.id})}" th:method="DELETE">
                <input type="submit" value="Usuń"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<a th:href="@{/}"><input type="submit" value="Menu"/></a>
<a th:href="@{/candidates/form}"><input type="submit" value="Utwórz kandydata"/></a>
</body>
</html>
