<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Nowy kandydat</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="POST" th:action="@{/candidates}" th:object="${candidate}">-->
<!--    <label for="name">Imię:</label>-->
<!--    <input type="text" id="name" th:field="*{name}" required/>-->

<!--    <label for="surname">Nazwisko:</label>-->
<!--    <input type="text" id="surname" th:field="*{surname}" required/>-->

<!--    <label for="surname">Numer telefonu:</label>-->
<!--    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required/>-->

<!--    <label for="surname">Status studenta:</label>-->
<!--    <select th:field="*{isStudent}">-->
<!--        <option th:value="1" >true</option>-->
<!--        <option th:value="0" >false</option>-->
<!--    </select>-->

<!--    <h3>Dodaj umiejętności:</h3>-->
<!--    <select multiple="multiple" th:field="*{skills}" th:size="${skills.size()}">-->
<!--        <option th:each="option : ${skills}"-->
<!--                th:value="${option}"-->
<!--                th:selected="${candidate.skills != null and candidate.skills.contains(option)}"-->
<!--                th:text="${option.name} + ' : ' + ${option.experience}"></option>-->
<!--    </select>-->

<!--    <button type="submit">Dodaj kandydata</button>-->
<!--</form>-->

<!--<a th:href="@{/}"><input type="submit" value="Menu"/></a>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Candidate Form</title>
</head>
<body>
<h1>Candidate Form</h1>
<form action="/candidates" method="post" th:object="${candidate}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}"><br><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}"><br><br>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br><br>

    <label for="isStudent">Is Student:</label>
    <input type="checkbox" id="isStudent" name="isStudent" th:field="*{isStudent}"><br><br>

    <select th:field="*{skills}" multiple>
        <option th:each="skill : ${skills}"
                th:value="${skill.id}"
                th:text="${skill.name}+' : '+${skill.experience}">MIASTO
        </option>
    </select>

    <input type="submit" value="Submit">
</form>
</body>
</html>
