<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nowy kandydat</title>
</head>
<body>

<h1>Dodaj kandydata</h1>

<form method="POST" th:action="@{/candidates}" th:object="${candidate}">

  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
  </div>

  <label for="name">Imie: </label>
  <input type="text" th:field="*{name}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"></span>
  <br/>

  <label for="surname">Nazwisko: </label>
  <input  type="text" th:field="*{surname}"/>
  <span class="validationError"
        th:if="${#fields.hasErrors('surname')}"
        th:errors="*{surname}"></span>
  <br/>

  <input type="submit" value="Utworz kandydata"/>
</form>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>

</body>
</html>