<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Edytuj HR </h1>
<a th:href="@{/hrs/list}">Wróć do listy HR</a>
<br/>

<br/><br/>
<form th:action="@{/hrs/{id}(id=${hr.id})}"
      th:object="${hr}" th:method="PUT">
  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Usun problemy, sprobuj ponownie
            </span>
  </div>
  <table>
    <tr>
      <td>ID</td>
      <td>:</td>
      <td th:utext="${hr.id}">ID</td>
    </tr>
    <tr>
      <td>Nazwa</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{name}" />
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
      </td>
    </tr>
<!--    <tr>-->
      <td>Posady</td>
      <td>:</td>
      <td>
<!--        <input type="hidden" th:field="*{id}" />-->
<!--        <label for="positions">Posady (wybierz):</label>-->
<!--        <br />-->
<!--        <select id="positions" th:field="*{positions}" size="10" multiple="multiple">-->
<!--          <option th:each="position : ${positions}"-->
<!--                  th:value="${{position}}"-->
<!--                  th:text="${position.name}">-->
<!--            Position-->
<!--          </option>-->
<!--        </select>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('product')}"-->
<!--              th:errors="*{product}"></span>-->
<!--      </td>-->
<!--    </tr>-->
    <tr th:each="position, itemStat : *{positions}">
      <td><input th:field="*{positions[__${itemStat.index}__].name}" /></td>
      <td><input th:field="*{positions[__${itemStat.index}__].salary}" /></td>
    </tr>
      </td>
  </table>
  <input type="submit" th:value="Aktualizuj" />
</form>

<br/>
</body>
</html>