<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<div th:align="center">
    <a th:href="@{/candidates/list}"><input type="button" value="Lista kandydatow"/></a><br/>
    <a th:href="@{/companies/list}"><input type="button" value="Lista firm"/></a><br/>
    <a th:href="@{/positions/list}"><input type="button" value="Lista pozycji"/></a><br/>
    <a th:href="@{/skills/list}"><input type="button" value="Lista umiejetnosci"/></a><br/>
    <a th:href="@{/hrs/list}"><input type="button" value="Lista HR"/></a><br/>
    <br>
    <a th:href="@{/candidates/form}"><input type="button" value="Dodaj kandydata"/></a><br/>
    <a th:href="@{/companies/form}"><input type="button" value="Dodaj firme"/></a><br/>
    <a th:href="@{/positions/form}"><input type="button" value="Dodaj pozycje"/></a><br/>
    <a th:href="@{/skills/form}"><input type="button" value="Dodaj umiejetnosc"/></a><br/>
    <a th:href="@{/hrs/form}"><input type="button" value="Dodaj HR"/></a><br/>
</div>
</body>
</html>