<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
<div th:align="center">
    <a th:href="@{/candidates/list}"><input type="button" value="Lista kandydatow"/></a><br/>
    <a th:href="@{/positions/list}"><input type="button" value="Lista pozycji"/></a><br/>
    <br>

    <a th:href="@{/candidates/form}"><input type="button" value="Dodaj kandydata"/></a><br/>
    <a th:href="@{/positions/form}"><input type="button" value="Dodaj pozycje"/></a><br/>
    <br>
    <a th:href="@{/skills}"><input type="button" value="Dodaj umiejętność"/></a><br/>
</div>
</body>
</html>