<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowa posada</title>
</head>
<body>

<h1>Dodaj posade</h1>

<form method="POST" th:action="@{/positions}" th:object="${position}">
    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Wystapily bledy. Sprobuj ponownie.
            </span>
    </div>

    <label for="name">Nazwa posady: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span>
    <br/>
    <label for="salary">Wyplata: </label>
    <input type="text" th:field="*{salary}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('salary')}"
          th:errors="*{salary}"></span>
    <br/>
    <label for="companyName">Nazwa firmy: </label>
    <input type="text" th:field="*{companyName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('companyName')}"
          th:errors="*{companyName}"></span>
    <br/>
    <label for="hrName">Nazwa HR: </label>
    <input type="text" th:field="*{hrName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('hrName')}"
          th:errors="*{hrName}"></span>
    <br/>
    <label for="hrPhoneNumber">Nr telefonu HR: </label>
    <input type="text" th:field="*{hrPhoneNumber}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('hrPhoneNumber')}"
          th:errors="*{hrPhoneNumber}"></span>
    <br/>
    <label for="content">Treść ogłoszenia: </label>
    <textarea rows="5" cols="40" th:field="*{content}"></textarea>
    <span class="validationError"
          th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span>
    <br/>
    <h3>Dodaj umiejętności:</h3>
    <select th:field="*{skills}" multiple>
        <option th:each="skill : ${skills}"
                th:value="${skill.id}"
                th:text="${skill.name}+' : '+${skill.experience}">MIASTO
        </option>
    </select>
    <input type="submit" value="Utworz posade"/>
</form>

<a th:href="@{/}"><input type="submit" value="Menu"/></a>

</body>
</html>