<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Edytuj posade</h1>-->
<!--<a th:href="@{/positions/list}">Wróć do listy posad</a>-->
<!--<br/>-->

<!--<br/><br/>-->
<!--<form th:action="@{/positions/{id}(id=${position.id})}"-->
<!--      th:object="${position}" th:method="PUT">-->
<!--  <div th:if="${#fields.hasErrors()}">-->
<!--            <span class="validationError">-->
<!--                Usun problemy, sprobuj ponownie-->
<!--            </span>-->
<!--  </div>-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>ID</td>-->
<!--      <td>:</td>-->
<!--      <td th:utext="${position.id}">ID</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Nazwa</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{name}"/>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('name')}"-->
<!--              th:errors="*{name}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Wyplata</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{salary}"/>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('salary')}"-->
<!--              th:errors="*{salary}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Firma</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{companyName}"/>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('companyName')}"-->
<!--              th:errors="*{companyName}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>HR-owiec</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{hrName}"/>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('hrName')}"-->
<!--              th:errors="*{hrName}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Nr telefonu do HR</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--        <input type="text" th:field="*{hrPhoneNumber}"/>-->
<!--        <span class="validationError"-->
<!--              th:if="${#fields.hasErrors('hrPhoneNumber')}"-->
<!--              th:errors="*{hrPhoneNumber}"></span>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Umiejętności</td>-->
<!--      <td>:</td>-->
<!--      <td>-->
<!--    <tr th:each="skill, itemStat : *{skills}">-->
<!--      <td><input th:field="*{skills[__${itemStat.index}__].name}"/></td>-->
<!--      <td><input th:field="*{skills[__${itemStat.index}__].experience}"/></td>-->
<!--    </tr>-->
<!--    </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <input type="submit" value="Aktualizuj"/>-->
<!--</form>-->

<!--<br/>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<h1>Edytuj posade</h1>
<a th:href="@{/positions/list}">Wróć do listy posad</a>
<br/>

<br/><br/>
<form th:action="@{/positions/{id}(id=${position.id})}"
      th:object="${position}" th:method="PUT">
  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Usun problemy, sprobuj ponownie
            </span>
  </div>
  <table>
    <tr>
      <td>ID</td>
      <td>:</td>
      <td th:utext="${position.id}">ID</td>
    </tr>
    <tr>
      <td>Nazwa</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
      </td>
    </tr>
    <tr>
      <td>Wyplata</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{salary}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('salary')}"
              th:errors="*{salary}"></span>
      </td>
    </tr>
    <tr>
      <td>Firma</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{companyName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('companyName')}"
              th:errors="*{companyName}"></span>
      </td>
    </tr>
    <tr>
      <td>HR-owiec</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{hrName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('hrName')}"
              th:errors="*{hrName}"></span>
      </td>
    </tr>
    <tr>
      <td>Nr telefonu do HR</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{hrPhoneNumber}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('hrPhoneNumber')}"
              th:errors="*{hrPhoneNumber}"></span>
      </td>
    </tr>
    <tr>
      <td>Opis stanowiska</td>
      <td>:</td>
      <td>
        <textarea rows="5" cols="40" th:field="*{content}"></textarea>
        <span class="validationError"
              th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}"></span>
      </td>
    </tr>
    <h3>Dodaj umiejętności:</h3>
    <select th:field="*{skills}" multiple>
      <option th:each="skill : ${skills}"
              th:value="${skill.id}"
              th:text="${skill.name}+' : '+${skill.experience}">MIASTO
      </option>
    </select>
  </table>
  <input type="submit" value="Aktualizuj"/>
</form>

<br/>

</body>
</html>