<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Edytuj umiejetnosc </h1>
<a th:href="@{/skills/list}">Wróć do listy umiejetnosci</a>
<br/>

<br/><br/>
<form th:action="@{/skills/{id}(id=${skill.id})}"
      th:object="${skill}" th:method="PUT">
  <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Usun problemy, sprobuj ponownie
            </span>
  </div>
  <table>
    <tr>
      <td>ID</td>
      <td>:</td>
      <td th:utext="${skill.id}">ID</td>
    </tr>
    <tr>
      <td>Nazwa umiejetnosci</td>
      <td>:</td>
      <td>
        <input type="text" th:field="*{name}" />
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
      </td>
    </tr>
  </table>
  <input type="submit" th:value="Aktualizuj" />
</form>


<br/>
</body>
</html>